*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins;
    overflow-x: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins/poppins-medium-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins/poppins-semibold-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins/poppins-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins/poppins-light-webfont.woff') format('woff');
}

:root{
    --color-red: #C90000;
    --color--gray: #7D7C7C;
    --color-black: #504F4F;
    --color-blur: #323232;
    --color-white: #fff;
    --yellow-button: #FFC300;
    --color-border: #E3E3E3;
   --color-shadow: #FFF6A3;
    --color-back-border: #F1F1F1;
    --color-shadow-button: #7090B033;
    --color-rgb-241: rgba(241,241,241,0.70);
    --color-rgb-241-040: rgba(241,241,241,0.40);
    --color-rgb-112: rgba(112,144,176,0.20);
}
.main_header{
    margin-top: 1rem;
}
.container_site{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.nav{
    display: grid;
   grid-template-columns: 58px 635px 187px;
   justify-content: space-between;
   align-items: center;
}

.nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
}

.nav ul li:not(:first-child) a{
    color:  var(--color--gray);
    font-weight: 500;
}

.nav ul li:first-child a{
    color: var(--color-red);
    font-weight: 600;
}
 
.nav ul li a{
    font-weight: 500;
}

.link_nav a{
    border: 1px solid var(--color-red);
    padding: 9px 16px;
    font-size: 16px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.link_nav a:first-child{
    color: var(--color-red);
    font-weight: 300;
}

.link_nav a:last-child{
    background-color: var(--color-red);
    color: var(--color-white);
    font-weight: 500;
    margin-left: 8px;
}

#close_icon{
    display: none;
    color: var(--color-black);
}
.nav_menu_sidbar{
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--color-white);
    width: 200px;
    height: 100%;
    padding: 1rem;
    border-right: 2px solid var(--color-black);
    transform: translateX(-384px);
    -webkit-transform: translateX(-384px);
    -moz-transform: translateX(-384px);
    -ms-transform: translateX(-384px);
    -o-transform: translateX(-384px);
    transition: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
}

#input_menu:checked + label + ul{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

#input_menu:checked + label svg:first-child{
    display: none;
}

#input_menu:checked + label #close_icon{
    display: block;
}

.header_bottom{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.content_left{
    align-self: center;
}

.content_left h1{
    color: var(--color-red);
    font-size: 48px;
    font-weight: 600;
    line-height: 76px;
}

.content_left p{
    color: var(--color-black);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    max-width: 77%;
}

.order_food{
    margin-top: 3rem;
}

.text_price{
    color: var(--color-blur);
}

.text_price span:first-child{
    font-size: 16px;
    font-weight: 300;
}

.text_price span:last-child{
    font-size: 24px;
    font-weight: 500;
}

.action_order{
    display: flex;
    justify-content: space-between;
    max-width: 79%;
    margin-top: 2rem;
}

.button_action_order{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 41%;
    gap: 12px;
    border: 1px solid var(--color-rgb-241);
    background-color: var(--color-white);
    padding: 8px 16px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    box-shadow: 0px 10px 17px 0px var(--color-rgb-112);

}

.button_action_order span{
    color: var(--yellow-button);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.button_action_order span::after,
.button_action_order span::before{
   content: '';
   width: 1px;
   height: 22px;
   display: inline-block;
   background-color: var(--color-rgb-241);
}

.button_action_order span::after{
    margin-left: 12px;
}

.button_action_order span::before{
    margin-right: 12px;
}

.button_action_order button{
    background-color: transparent;
    border: none;
    outline: none;
}

.button_action_order button svg{
    width: 24px;
    height: 24px;
}

.action_order > button{
    display: flex;
    align-items: center;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--yellow-button);
    color: var(--color-blur);
    box-shadow: 0px 20px 20px 0px var(--color-rgb-241);
    border: none;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    font-size: 20px;
    font-weight: 600;
}

.action_order > button avg{
    margin-top: -3px;
    margin-right: 5px;
}

.content_right {
    position: relative;
}

.fixed_box_delivery{
    position: absolute;
    top: 5rem;
    left: -4rem;
    border-radius: 50px 50px 0 50px;
    -webkit-border-radius: 50px 50px 0 50px;
    -moz-border-radius: 50px 50px 0 50px;
    -ms-border-radius: 50px 50px 0 50px;
    -o-border-radius: 50px 50px 0 50px;
    border: 1px solid var(--color-back-border);
    background-color: var(--color-rgb-241-040);
    padding: 12px;
    text-align: center;
}

.fixed_box_delivery div{
    display: flex;
    align-items: center;
}

.fixed_box_delivery div span{
    color: var(--color-blur);
    font-size: 24px;
    font-weight: 400;
    margin-left: 5px;
}

.fixed_box_delivery > span{
    color: var(--color--gray);
    font-size: 16px;
    font-weight: 400;
}