*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins;
    overflow-x: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins/poppins-medium-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins/poppins-semibold-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins/poppins-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins/poppins-light-webfont.woff') format('woff');
}

:root{
    --color-red: #C90000;
    --color--gray: #7D7C7C;
    --color-black: #504F4F;
    --color-blur: #323232;
    --color-white: #fff;
    --yellow-button: #FFC300;
    --color-border: #E3E3E3;
   --color-shadow: #FFF6A3;
    --color-back-border: #F1F1F1;
}
.main_header{
    margin-top: 1rem;
}
.container_site{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.nav{
    display: grid;
   grid-template-columns: 58px 635px 187px;
   justify-content: space-between;
   align-items: center;
}

.nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
}

.nav ul li:not(:first-child) a{
    color:  var(--color--gray);
    font-weight: 500;
}

.nav ul li:first-child a{
    color: var(--color-red);
    font-weight: 600;
}
 
.nav ul li a{
    font-weight: 500;
}

.link_nav a{
    border: 1px solid var(--color-red);
    padding: 9px 16px;
    font-size: 16px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.link_nav a:first-child{
    color: var(--color-red);
    font-weight: 300;
}

.link_nav a:last-child{
    background-color: var(--color-red);
    color: var(--color-white);
    font-weight: 500;
    margin-left: 8px;
}

#close_icon{
    display: none;
    color: var(--color-black);
}
.nav_menu_sidbar{
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--color-white);
    width: 200px;
    height: 100%;
    padding: 1rem;
    border-right: 2px solid var(--color-black);
    transform: translateX(-384px);
    -webkit-transform: translateX(-384px);
    -moz-transform: translateX(-384px);
    -ms-transform: translateX(-384px);
    -o-transform: translateX(-384px);
    transition: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
}

#input_menu:checked + label + ul{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

#input_menu:checked + label svg:first-child{
    display: none;
}

#input_menu:checked + label #close_icon{
    display: block;
}

@media (max-width:834px){
    .nav{
        grid-template-columns: repeat(3, auto);
    }
    .nav > ul{
        display: none;
    }

    .link_nav{
        justify-self: center;
    }

    .menu_icon{
        justify-self: flex-end;
    }
}

@media (min-width:835px){
    .menu_icon{
        display: none;
    }
}
